<div class="wrapper gap-1 column">
    <img [src]="product.image" alt="product Thumbnail">
    <h2 class="title">
        {{ product.name }}
    </h2>
    <div class="row gap-0">
        <span class="price label">Price</span>
        <span class="price">{{ product.price }}</span>
    </div>

    <p-rating [(ngModel)]="product.rating" 
    readonly="true"
    iconCancelClass="hidden"/>

    <div class="row">
        <button pButton icon="pi pi edit" (click)="editProduct()">Edit</button>
        <button pButton icon="pi pi trash" (click)="deleteProduct()">Delete</button>
    </div>

</div>
